---
const offre = Astro.props;
---

<li>{offre.nomMaison}</li>
<li>{offre.adresse}</li>
<li>{offre.nbChambres}</li>
<li>{offre.nbSdb}</li>
<li>{offre.prix}</li>
<li>{offre.surface}</li>
<img src={offre.img} alt="">

